header {
	background-color: white;
}
header h1 {
	width: 600px;
	margin: 0px;
	margin: auto;
	padding: 15px;
}
article {
	border: 1px;
	width: 600px;
	margin: auto;
	background-color: white;
}
.titulo1 {
	display: flex;
	margin: black 1px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.t1 {
	font-size: 1.2rem;
	font-weight: bold;
}
.p1 {
	font-size: 0, 8rem;
	color: gray;
}

.imagen1 {
	width: 600px;
	height: 400px;
	border: 1px;
	padding: 2px;
	margin: auto;
}
.img1 {
	width: 590px;
	height: 400px;
	border: 1px;
	padding: auto;
	justify-content: center;
	margin: 3px;
}
.text1 {
	padding: 5px;
	margin: 5px;
	border: 1px;
	justify-content: center;
}
.titulo2 {
	display: flex;
	margin: black 1px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.t2 {
	font-size: 1.2rem;
	font-weight: bold;
}
.p2 {
	font-size: 0, 8rem;
	color: gray;
}

.imagen2 {
	width: 600px;
	height: 400px;
	border: 1px;
	padding: 2px;
	margin: auto;
}
.img2 {
	width: 590px;
	height: 400px;
	border: 1px;
	padding: auto;
	justify-content: center;
	margin: 3px;
}
.text2 {
	padding: 5px;
	margin: 5px;
	border: 1px;
	justify-content: center;
}
.titulo3 {
	display: flex;
	margin: black 1px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.t3 {
	font-size: 1.2rem;
	font-weight: bold;
}
.p3 {
	font-size: 0, 8rem;
	color: gray;
}

.imagen3 {
	width: 600px;
	height: 400px;
	border: 1px;
	padding: 2px;
	margin: auto;
}
.img3 {
	width: 590px;
	height: 400px;
	border: 1px;
	padding: auto;
	justify-content: center;
	margin: 3px;
}
.text3 {
	padding: 5px;
	margin: 5px;
	border: 1px;
	justify-content: center;
}
.titulo4 {
	display: flex;
	margin: black 1px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.t4 {
	font-size: 1.2rem;
	font-weight: bold;
}
.p4 {
	font-size: 0, 8rem;
	color: gray;
}

.imagen4 {
	width: 600px;
	height: 400px;
	border: 1px;
	padding: 2px;
	margin: auto;
}
.img4 {
	width: 590px;
	height: 400px;
	border: 1px;
	padding: auto;
	justify-content: center;
	margin: 3px;
}
.text4 {
	padding: 5px;
	margin: 5px;
	border: 1px;
	justify-content: center;
}
